<div
  class="face-snap-card"
  [ngClass]="{ snapped: buttonText === 'Oops, unsnap' }"
>
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <p>Mise en ligne {{ faceSnap.createdDate | date: "le dd/MM/yy à HH:mm" }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="" photo vacances />
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
  <p>{{ faceSnap.description }}</p>
  <p>
    <button (click)="onSnap()">{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ', 0)' }"
      >🤌 {{ faceSnap.snaps }}</span
    >
  </p>
</div>
